<!DOCTYPE html>
<html>
<head>
  <title>BasicNestedFormsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "All Doctors", doctors_path %>
<%= link_to "All Patient", patients_path %>
<%= yield %>

</body>
</html>
